@charset "utf-8";
/* CSS Document */
/*	RESET CSS	*/
*{
margin:0px;
padding:0px;
}

/*	WRAPPER	*/
table#wrapper{
margin:0px auto;
}

/*	NAVIGATION BAR	*/
table#wrapper tr td#header table tr td#navbar{
background:url(images/admincp-bg-navbar.gif) top left repeat-x;
padding-left:15px;
}
table#wrapper tr td#header table tr td#navbar table tr td{
font-family:arial;
font-size:11px;
font-weight:bold;
padding-right:30px;
}
table#wrapper tr td#header table tr td#navbar table tr td a{
color:#FFFFFF;
text-decoration:none;
text-transform:capitalize;
}
table#wrapper tr td#header table tr td#navbar table tr td a:hover{
color:#C3C0B7;
}
table#wrapper tr td#header table tr td#line-header{
background:url(images/admincp-line-header.gif) top left no-repeat;
border-top:1px solid #cdcdcd;
}

/*	LEFT MENU	*/
table.left-menu{
border-left:1px solid #cdcdcd;
border-right:1px solid #cdcdcd;
border-bottom:1px solid #cdcdcd;
background:#e3e4de;
}
table.left-menu tr.bg-leftbar{
font-family:arial;
font-size:11px;
font-weight:bold;
color:#FFFFFF;
text-transform:uppercase;
background:url(images/admincp-bg-bar.gif) top left repeat-x;
}
table.left-menu tr.bg-leftbar td{
padding-left:10px;
}
table.left-menu tr.menu-item{
font-family:arial;
font-size:11px;
background:url(images/admincp-line-break.gif) bottom left no-repeat;
}
table.left-menu tr.menu-item a{
color:#0f0f0f;
text-decoration:none;
text-transform:capitalize;
}
table.left-menu tr.menu-item a:hover{
color:#797875;
}
table.left-menu tr.menu-item td{
padding-left:10px;
}
table.left-menu tr td#user-info{
font-family:arial;
font-size:11px;
color:#0f0f0f;
padding:10px;
}
table.left-menu tr td#user-info b{
color:#FF0000;
}
table.left-menu tr td#logout a{
font-family:arial;
font-size:11px;
font-weight:bold;
color:#FF0000;
text-decoration:none;
text-transform:capitalize;
padding-right:10px;
}
table.left-menu tr td#logout a:hover{
text-decoration:underline;
}

/*	BODY	*/
table#wrapper tr#body td table{
margin-bottom:20px;
}

/*	MAIN CONTENT	*/
table#main-content{
border-left:1px solid #cdcdcd;
border-right:1px solid #cdcdcd;
border-bottom:1px solid #cdcdcd;
}

/*	NAVIGATION BAR	*/
table#main-content tr#main-navbar{
font-family:arial;
font-size:11px;
font-weight:bold;
color:#FFFFFF;
text-transform:uppercase;
background:url(images/admincp-bg-bar.gif) top left repeat-x;
}
table#main-content tr#main-navbar td{
padding:0px 10px;
}

/*	NAVIGATION TITLE	*/
table#main-content tr#navbar-title{
font-family:arial;
font-size:11px;
font-weight:bold;
color:#0f0f0f;
text-align:center;
text-transform:capitalize;
}

/*	FORM	*/
table#main-content tr td.form{
padding-left:10px;
}
table#main-content tr td.form label{
font-family:arial;
font-size:11px;
font-weight:bold;
color:#0f0f0f;
text-transform:capitalize;
}

/*	FOOTER	*/
table tr td#footer{
font-family:arial;
font-size:10px;
color:#FFFFFF;
text-transform:capitalize;
background:url(images/admincp-bg-footer.gif) bottom left repeat-x;
}
